<!DOCTYPE html>
<html lang="en">

<head>
  {% load static  %}
   {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
   {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block head %}
          {% block meta %}
              <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
              <link rel="shortcut icon"/>
              <meta charset="utf-8">
              <meta charset="ISO-8859-15">
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1">
          {% endblock meta %}

          {% block stylesheets %}
              <!-- custom_css -->
              <link href="{% static 'css/style.css' %}" rel="stylesheet">
              <!-- Bootstrap -->
              <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
              <!-- Datable -->
              <link href="{% static 'datatables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
              <!-- Font Awesome -->
              <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
              <!-- NProgress -->
              <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
              <!-- bootstrap-daterangepicker -->
              <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
              <!-- iCheck -->
              <link href="{% static 'vendors/iCheck/skins/flat/green.css ' %}" rel="stylesheet">
              <!-- bootstrap-progressbar -->
              <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
          {% endblock stylesheets %}

      {% endblock head %}
   </head>

<body>
    {% block body %}

      <div class="container body" >

        <!--menubar--->
        {% block top_navigation %}
          <header class="header-area">
             {% include "header.html" %}
         </header>
        {% endblock top_navigation %}

         <!--Main Content--->
        {% block content %}
            <h3 style="color: red">
              {{ message }}
            </h3>
        {% endblock content %}

        <!--- Footer-->
        {% block footer %}
            <footer>
                 {% include "footer.html" %}
            </footer>
        {% endblock footer %}
      </div>

       {% block footer %}
             <footer>
                  {% include "app/footer.html" %}
             </footer>
         {% endblock footer %}


    {% block javascripts %}
       <!-- jQuery -->
       <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
       <!-- Bootstrap -->
       <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
       <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
       <!-- iCheck -->
       <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
       <!-- bootstrap-daterangepicker -->
       <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
       <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
       <!-- bootstrap-wysiwyg -->
       <script src="{% static 'vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
       <script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
       <script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>

   {{ block.super }}
   <!-- Datatables -->
   <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
   <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
   <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
   <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
   <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
   <!-- DateJS -->
   <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
   {% endblock javascripts %}
   <script type="text/javascript">$(document).ready(function ()
     {
       $('#invoice-table').DataTable(
       {
         dom: 'Bfrtip',
         iDisplayLength: 15,
           buttons: [
                   'copyHtml5',
                   'excelHtml5',
                   'csvHtml5',
                   'pdfHtml5',
                   'print',
                   'pageLength',

                   ],
         search: true,
         responsive: true
         }
         );
       }
       );
       document.getElementById('Rate').readOnly = true;
       document.getElementById('Collected').readOnly = true;
     </script>
       {% endblock body %}
       {% block preloader %}
       {% endblock %}

       {% block extra_script %}
       {% endblock extra_script %}

       {% block javascript %}
       {% endblock %}

       {% block extra_js %}
       {% endblock extra_js %}

       {% block extra_css %}
       {% endblock extra_css %}


       {% block js %}
       {% endblock js %}

</body>

</html>
